<!doctype HTML>
<html>
<head>
	<!-- Meta tagas, skirtas tekso užkodavimui-->
	<meta charset="utf-8">
	<!-- Title tagas nustato skirtuko pavadinimą-->
	<title>Pradmenys</title>
	<link rel="stylesheet" href="../style/styles/style.css">
</head>
<body>
	<div id="header">
		<div class="container">
			<span class="title">CodeAcademy Front-end</span>
			<span class="links">
				<!-- Naudojamas santykinis kelias-->
				<a href="register.html">Registruotis</a>
                <a href="../index.html">Pagrindinis</a>
			</span>
		</div>
	</div>
	<div id="content">
		<div class="container">
			<h3>Pradmenys</h3>
		
		</div>
	</div>
	<div id="footer">
		<div class="container">
			
		</div>
	</div>
</body>
</html>