<!doctype HTML>
<html>
<head>
	<!-- Meta tagas, skirtas tekso užkodavimui-->
	<meta charset="utf-8">
	<!-- Title tagas nustato skirtuko pavadinimą-->
	<title>Pradmenys</title>
    <link rel="stylesheet" href="../style/styles/style.css">
    <link rel="stylesheet" href="../style/styles/pradmenys.css">
</head>
<body>
	<header id="header">
		<div class="container">
			<span class="title">CodeAcademy Front-end</span>
			<span class="links">
				<!-- Naudojamas santykinis kelias-->
				<a href="register.html">Registruotis</a>
				<a href="daugiau.html">Daugiau</a>
                <a href="../index.html">Pagrindinis</a>
			</span>
		</div>
    </header>
	<div id="content">
		<div class="container">
            <h1>Pradmenys</h1>
            
            <h3>Display: Blocks</h3>
            <div class="the-father">
                <div class="position-item square"></div>
                <div class="position-item square"></div>
            </div>

            <h3>Display: Inline-blocks</h3>
            <div class="the-father">
                <span class="position-item-span square"></span>
                <span class="position-item-span square"></span>
                <span class="position-item-span square"></span>
                <span class="position-item-span square"></span>
                <span class="position-item-span square"></span>
            </div>

            <h3>Class inheratence</h3>
            <div class="the-father">
                <div id="red" class="square">
                    <div class="yellow square"></div>
                </div>
            </div>

            <h3>Background image</h3>
            <div class="the-father">
              <div class="background">

              </div>
            </div>

            <h3>Table formatting</h3>
            <table class="table-blue">
                <tr>
                    <th colspan="4">Blue table</th>
                </tr>
                <tr>
                    <th>Pavadinimas</th>
                    <th>Autorius</th>
                    <th>Žanras</th>
                    <th>Parašymo metai</th>
                </tr>
                <tr>
                    <td>Alice's Adventures in Wonderland</td>
                    <td>Lewis Carroll</td>
                    <td>Children's novel</td>
                    <td>1865</td>
                </tr>
                <tr>
                    <td>All Quiet on the Western Front</td>
                    <td>Erich Maria Remarque</td>
                    <td>Anti-war novel</td>
                    <td>1929</td>
                </tr>
                <tr>
                    <td>American Psycho</td>
                    <td>Bret Easton Ellis</td>
                    <td>Novel</td>
                    <td>1991</td>
                </tr>
                <tr>
                    <td>An Area of Darkness</td>
                    <td>V. S. Naipaul</td>
                    <td>Travelogue</td>
                    <td>1964</td>
                </tr>
                <tr>
                    <td>The Anarchist Cookbook</td>
                    <td>William Powell</td>
                    <td>Instructional</td>
                    <td>1971</td>
                </tr>
                <tr>
                    <td>Angaray</td>
                    <td>Sajjad Zaheer</td>
                    <td>Progressive short stories</td>
                    <td>1932</td>
                </tr>
            </table>
            <table class="table-green">
                <tr>
                    <th colspan="4">Green table</th>
                </tr>
                <tr>
                    <th>Pavadinimas</th>
                    <th>Autorius</th>
                    <th>Žanras</th>
                    <th>Parašymo metai</th>
                </tr>
                <tr>
                    <td>Alice's Adventures in Wonderland</td>
                    <td>Lewis Carroll</td>
                    <td>Children's novel</td>
                    <td>1865</td>
                </tr>
                <tr>
                    <td>All Quiet on the Western Front</td>
                    <td>Erich Maria Remarque</td>
                    <td>Anti-war novel</td>
                    <td>1929</td>
                </tr>
                <tr>
                    <td>American Psycho</td>
                    <td>Bret Easton Ellis</td>
                    <td>Novel</td>
                    <td>1991</td>
                </tr>
                <tr>
                    <td>An Area of Darkness</td>
                    <td>V. S. Naipaul</td>
                    <td>Travelogue</td>
                    <td>1964</td>
                </tr>
                <tr>
                    <td>The Anarchist Cookbook</td>
                    <td>William Powell</td>
                    <td>Instructional</td>
                    <td>1971</td>
                </tr>
                <tr>
                    <td>Angaray</td>
                    <td>Sajjad Zaheer</td>
                    <td>Progressive short stories</td>
                    <td>1932</td>
                </tr>
            </table>
            <table class="table-red">
                <tr>
                    <th colspan="4">Red table</th>
                </tr>
                <tr>
                    <th>Pavadinimas</th>
                    <th>Autorius</th>
                    <th>Žanras</th>
                    <th>Parašymo metai</th>
                </tr>
                <tr>
                    <td>Alice's Adventures in Wonderland</td>
                    <td>Lewis Carroll</td>
                    <td>Children's novel</td>
                    <td>1865</td>
                </tr>
                <tr>
                    <td>All Quiet on the Western Front</td>
                    <td>Erich Maria Remarque</td>
                    <td>Anti-war novel</td>
                    <td>1929</td>
                </tr>
                <tr>
                    <td>American Psycho</td>
                    <td>Bret Easton Ellis</td>
                    <td>Novel</td>
                    <td>1991</td>
                </tr>
                <tr>
                    <td>An Area of Darkness</td>
                    <td>V. S. Naipaul</td>
                    <td>Travelogue</td>
                    <td>1964</td>
                </tr>
                <tr>
                    <td>The Anarchist Cookbook</td>
                    <td>William Powell</td>
                    <td>Instructional</td>
                    <td>1971</td>
                </tr>
                <tr>
                    <td>Angaray</td>
                    <td>Sajjad Zaheer</td>
                    <td>Progressive short stories</td>
                    <td>1932</td>
                </tr>
            </table>
            <h3>List formatting</h3>
            <div class="lists">
                <div class="inline-block">
                    <h4>Best films</h4>
                    <ol>
                        <li>The Shawshank Redemption</li>
                        <li>The Godfather</li>
                        <li>The Godfather: Part II </li>
                        <li>The Dark Knight</li>
                        <li>12 Angry Men </li>
                    </ol>
                </div>
                <div class="inline-block">
                    <h4>Favourite fruits</h4>
                    <ul>
                        <li>Banana</li>
                        <li>Orange</li>
                        <li>Apple</li>
                        <li>Grapes</li>
                        <li>Strawberry</li>
                    </ul>
                </div>
            </div>
		</div>
	</div>
	<footer id="footer">
		<div class="container">
			
		</div>
    </footer>
</body>
</html>